<div class="container">

<h1 class="mt-3">About</h1>
<p>Welcome to the Awesome Idioms!</p>
<p>This website is made for everyone who wants to improve his/her English skill through learning Idioms.</p>
</div>
