<div class="container">
	<div class="jumbotron m-4 p-2">
		<div class="row">
			<div class="col-lg-6 offset-lg-3">
				<div class="container">
					<h1 class="text-center">Profile Setting</h1>
					<%= render "form", btn_msg: "Update User", btn_color: "btn-secondary" %>
				</div>
			</div>
		</div>
	</div>
</div>