<div class="row mt-3 mb-3">
	<div class="col-lg-6 offset-lg-3">
		<div class="container">
			<h1 class="text-center">Edit User</h1>
			<%= render "form", btn_msg: "Update User", btn_color: "btn-outline-secondary" %>
		</div>
	</div>
</div>