<div class="container">
	<h1>User Profile</h1>
	<div class="row">
		<div class="col-lg-4">
			<div class="container">
				<div class="card mb-2">
					<div class="card-body">
						<div class="text-center">
							<% if @user.picture? %>
								<div class="avatar_picture">
								<%= image_tag @user.picture.url %>
								</div>
							<% else %>
								no images
							<% end %>
						</div>
						<div class="text-center">
							<h2><%= @user.name %></h2>
						</div>
						<div>
							
						</div>
						<div class="text-center">
							Follow/Follower
							<br>
							Akiho will make here:)
						</div>
					</div>
				</div>
				<%= link_to "Edit Profile", edit_user_path, class: "btn btn-outline-primary btn-block" %>
			</div>
		</div>
		<div class="col-lg-8">
			<div class="contaner">
				<div class="card">
					<h2>Here is activity area</h2>
					<ul>
						<li>This is an activity</li>
						<li>This is an activity</li>
						<li>This is an activity</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>