<div class="container">
	<div class="row">
	<div class="col-lg-6">
		<h1 class="mt-3"><em>Create Category</em></h1>
	</div>
	<div class="col-lg-6">
		<%= link_to "Back", admin_categories_path, class: "btn btn-outline-secondary float-right mt-3" %>
	</div>	
	</div>
</div>

<%= render "form", btn_message: "Create", btn_color: "btn-outline-secondary" %>