@import "bootstrap";

* {
margin: 0px;
padding: 0px;
}

html, body { height: 100%; }

header{
	height: 20%;
}


.navbar {
	background-color: #500E17;
}


nav {
	  a {
		color:#fff;
		text-decoration: none;
		}
} 


h1{
	font-family: 'Covered By Your Grace', cursive;
	color: #500E17;
}

.top-text{
	color: white;
    font-size: 100px;
}

.link-white{
	color: white;
}

body.static_pages{
	background-image: url("/images/top.jpg");
	background-size: cover;
    position: relative;
    vertical-align: bottom;
}

.category-table{
	background-color: #F4EDE6;
}

body.categories{
		background-image: url("/images/corkboard.jpg");
		background-size: 100% auto;
	}


body.answers{
		background-image: url("/images/chalkboard.jpg");
		background-size: 100% auto;
	}

body.lessons{
		background-image: url("/images/chalkboard.jpg");
		background-size: 100% auto;
	}


body.sessions{
		background-image: url("/images/library.jpg");
		background-size: 100% auto;
	}

body.users{
		background-image: url("/images/library.jpg");
		background-size: 100% auto;
	}

.jumbotron{
	background: rgba(200, 200, 200, 0.5);
}


.card-color{
		background-color: #F8DEE3;
	}

.card-clear{
	background: rgba(200, 200, 200, 0.5);
	}

.image-round{
	border-radius: 50%;
}


.top-text-area{
	padding-top: 50px;
	margin-left: 50px;
}

a{
	color: #3261AB;
}


.avatar_picture{
	img{
		width: 100%;
	}
}

.paginate{
	nav{
		display: inline-block;
	}
}

.category-table {
	table-layout:fixed;
	width:100%;
}

.long-content {
	word-wrap:break-word;
}


footer {
	background-color: #500E17;
	height: 56px;
	width: 100%;
 	position: fixed;
 	bottom: 0;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
