@import "bootstrap";
* {
margin: 0px;
padding: 0px;
}


html, body { height: 100%; }

header{
	height: 20%;
}

.card{
	background-color: #F8DEE3;
}


.navbar {
	background-color: #500E17;
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  right:0;
  left: 0;
  z-index: 1000;
  margin-bottom: 0;
}

nav {
	  a {
		color:#fff;
		text-decoration: none;
		}
} 

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#contents{
     padding-top: 56px;
     padding-bottom: -56px;
}

h1{
	font-family: 'Covered By Your Grace', cursive;
	color: #500E17;
}

.top-text{
	color: white;
    font-size: 100px;
}

.top-image{
	background-image: url("/images/top.jpg");
	background-size: cover;
    position: relative;
    vertical-align: bottom;
}

.image-round{
	border-radius: 50%;
}

.categories-background{
	background-image: url("/images/corkboard.jpg");
	background-size: cover;
    position: relative;
}

.top-text-area{
	padding-top: 50px;
	margin-left: 50px;
}

a{
	color: #3261AB;
}


.avatar_picture{
	img{
		width: 100%;
	}
}

.paginate{
	nav{
		display: inline-block;
	}
}

.category-table {
	table-layout:fixed;
	width:100%;
}

.long-content {
	word-wrap:break-word;
}


footer {
	background-color: #500E17;
	height: 56px;
 	margin-top: auto;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
